<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ConfigData" type="xwcs.core.cfg.ConfigData, xwcs.core, Version=1.0.0.0, Culture=neutral" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="AdminEntities" connectionString="metadata=res://*/model.admin.Admin.csdl|res://*/model.admin.Admin.ssdl|res://*/model.admin.Admin.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=root;persistsecurityinfo=True;database=egaf_back&quot;" providerName="System.Data.EntityClient" />
    <add name="NiterDocEntities" connectionString="metadata=res://*/NiterDoc.csdl|res://*/NiterDoc.ssdl|res://*/NiterDoc.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=root;persistsecurityinfo=True;database=niter&quot;" providerName="System.Data.EntityClient" />
    <add name="NiterTitlesEntities" connectionString="metadata=res://*/NiterDoc.csdl|res://*/NiterDoc.ssdl|res://*/NiterDoc.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=root;persistsecurityinfo=True;database=niter&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


  <ConfigData>
    <MainAppConfig>
      <StateData>
        <expiry></expiry>
        <path>c:/temp</path>
      </StateData>
      <DataLayout>
        <AllowLoadFromXml>No</AllowLoadFromXml>
      </DataLayout>
      <Admin>
        <DatabaseName>egaf_back</DatabaseName>
      </Admin>
    </MainAppConfig>
    <TestClass>
      <add key="ACL" value="localhost:4859:acl" />
      <add key="MAIN" value="localhost:4859:xdocwaydoc" />
    </TestClass>
  </ConfigData>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <ConfigData>
    <MainAppConfig>
      <StateData>
        <expiry></expiry>
        <path>c:/temp</path>
      </StateData>
      <DataLayout>
        <AllowLoadFromXml>No</AllowLoadFromXml>
      </DataLayout>
      <Admin>
        <DatabaseName>egaf_back</DatabaseName>
        <EntityLockDisabled>Yes</EntityLockDisabled>
      </Admin>
    </MainAppConfig>
    <TestClass>
      <add key="ACL" value="localhost:4859:acl" />
      <add key="MAIN" value="localhost:4859:xdocwaydoc" />
    </TestClass>
  </ConfigData>
</configuration>